li
  a.nav-item(href="#") 
    .ml-2 Home
li
  a.nav-item(href="#") 
    .ml-2 Events
  ul
    li
      a(href='http://iedcsummit.in/2019' target="_blank") 2019
li
  a.nav-item(href="#ksum-footer") 
    .ml-2 Contact
li
  a.nav-item(href="https://vemp.in/iedcsummit2021/#home-page" target="_blank") 
    .ml-2 Register