.controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  font-size: 3rem;
  padding: 2rem;
  top: 40vh;
  color: #fff;
  text-shadow: 0 0 20px #da8fd7;
}

.slide {
  position: absolute;
  //slides are hidden by default
  opacity: 0;
  height: 80vh;
  width: 100%;
  transition: opacity 500ms ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  .content {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000aa;
  }
  img {
    width: 100vw;
  }
  h1 {
    color: white;
    font-size: 4rem;
  }
  h2 {
    color: white;
    font-size: 2rem;
  }
  &.show {
    //this makes slide visible, triggered in JS
    opacity: 1;
    transition: opacity 500ms ease-in;
    .content {
      display: flex;
    }
  }
}