@import './mixins';
#carousal-section {
  height: 80vh;
}

#header-section {
  height: 80vh;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #3fafef66;
    backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#about-section {
  background: #151853;
  color: white;
  .sub-heading {
    text-transform: uppercase;
    color: #ED396F;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #ED396F;
    display: inline-block;
  }
  .title {
    color: white;
    font-weight: 700;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
  }
}

#counter-section {
  .sub-heading {
    text-transform: uppercase;
    color: #ED396F;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #ED396F;
    display: inline-block;
  }
  .title {
    color: #151853;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }
}

#clockdiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div {
    width: 150px;
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #151853;
    margin: 1rem;
    h1 {
      color: #ED396F;
    }
    span {
      color: #494748;
    }
  }
}

.popup-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #151853;
  z-index: 25;
  color: white;
  text-align: justify;
  overflow-y: scroll;
  transition: all 500ms ease;
  transform: scaleY(0);
  transform-origin: top;
  .close-btn {
    position: absolute;
    right: 3rem;
    top: 1rem;
    font-size: 3rem;
    cursor: pointer;
  }
}

#modal-about {
  .sub-heading {
    text-transform: uppercase;
    color: #ED396F;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #ED396F;
    display: inline-block;
  }
  .title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }
}

.button {
  border-radius: 4em;
  padding: .75rem 2rem;
  margin-right: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(120deg, #5D489C 0%, #ED396F 100%);
  transition: all 500ms ease;
  &:hover {
    border-bottom-right-radius: 0;
    color: white;
  }
}

#schedule-section {
  background-color: #151853;
  color: white;
  text-align: center;
  .sub-heading {
    text-transform: uppercase;
    color: #ED396F;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #ED396F;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .schedule-dates {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    .date {
      display: flex;
      align-items: center;
      background-color: #111343;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      margin: 1rem;
      width: 80%;
      cursor: pointer;
      @include my_bp(sm) {
        width: 20%;
      }
      &.active {
        transform: translateY(-10px);
        h1 {
          background-color: #ED396F;
          color: white;
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 40px solid #ED396F;
            bottom: -40px;
            left: 0;
          }
        }
        // background-color: #05095a;
        // box-shadow: 0px 0px 10px #F4875E;
        // border: 1px solid #F4875E;
      }
      h1 {
        padding: 1rem;
        margin: 0;
        background-color: #05095a;
        // border-right: 1px solid rgba(255, 255, 255, .5);
        color: #F4875E;
      }
      p {
        margin: 0;
      }
      .month {
        text-align: left;
        margin-left: 1rem;
        font-weight: bold;
      }
    }
  }
  .schedule {
    display: flex;
    flex-direction: column;
    .schedule-item {
      border: 1px solid rgba(255, 255, 255, .8);
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      text-align: left;
      transition: all 300ms ease;
      &:hover {
        border: 1px solid #ED396F;
      }
      h3 {
        font-size: 1rem;
      }
      h4 {
        text-transform: uppercase;
        color: #ED396F;
        font-size: .7rem;
        font-weight: bold;
        // border-bottom: 1px solid #ED396F;
        display: inline-block;
      }
      p {
        margin-bottom: 0;
      }
      .speakers {
        .speaker {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          h3 {
            margin-bottom: 0;
          }
          h4 {
            text-transform: initial;
            margin-bottom: 0;
          }
          .content {
            padding-left: .5rem;
          }
        }
      }
    }
  }
}

.alternate-col {
  background: rgb(255 255 255 / 18%);
}