@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&family=Roboto:wght@300;400;700;900&family=Montserrat:wght@200;400;600&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './mixins';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3,
h5 {
  font-family: 'Poppins', sans-serif;
}

#ksum-footer {
  background: #111343;
  color: #ffffff;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      visibility: hidden;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .contact {
    margin-top: 2rem;
    .cs {
      margin-bottom: 1rem;
    }
  }
}

#ksum-copy {
  background: #151853;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}