extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")
  link(rel="stylesheet" href="./style/carousal.scss")

block page
  section#carousal-section
    .slide.show(style="background-image:url('./images/bg1.png')")
      .overlay
      .content
        h1.animate__animated.animate__zoomInDown IEDC Summit 2021
        h2.animate__animated.animate__zoomInUp Asia's Largest Summit for Aspiring Entrepreneurs
    .slide.show(style="background-image:url('./images/bg2.jpeg')")
      .overlay
      .content
        h1.animate__animated.animate__zoomInLeft IEDC Summit 2021
        h2.animate__animated.animate__zoomInRight Adi Shankara Institute of Engineering & Technology

    .slide.show(style="background-image:url('./images/bg4.jpg')")
      .overlay
      .content
        h1.animate__animated.animate__zoomInLeft IEDC Summit 2021
        h2.animate__animated.animate__zoomInRight January 28 - 30, 2021


    .controls
      i.bi.bi-arrow-left.left-arrow(aria-hidden='true')
      i.bi.bi-arrow-right.right-arrow(aria-hidden='true')


  section.section-content#about-section
    .container
      .row
        .col-sm-8
          h3.sub-heading About
          h1.title IEDC Summit 2021
          p KSUM is organizing the fifth edition of the flagship event IEDC Summit 2021, bringing together Student Innovators and all other connected stakeholders under one umbrella. This year, the IEDC Summit is hosted by Adi Shankara Institute of science and technology, Cochin on 28th, 29th, 30th January 2021
          p IEDC Summit 2021, the annual get together is hosted by Innovation and Entrepreneurship Development Centre (IEDC) of Adi Shankara Institute of science and technology. The Summit will witness a series of technology tracks, brainstorming sessions, interactive community meet ups and product exhibitions. Student innovators from IEDCs exhibit their innovation at IEDC Summit. Besides, knowledge and skill development sessions are an integral part of the summit and the presence of corporate leaders provides students a deeper insight about latest technology trends.
          .mt-4
            .d-flex
              a.button(href="https://vemp.in/iedcsummit2021/#home-page" target="_blank") Interested ?
              a.button.alternate(href="#" data-modal="modal-about") Know More !
        .col-sm-4
          img.img-fluid(src="./images/summit_logo.png")

  //- section.section-content#counter-section
  //-   .container
  //-     .row.justify-content-center.align-items-center
  //-       .col-sm-4
  //-         .sub-heading 28 January 2021
  //-         .title COUNT EVERY SECOND UNTIL THE EVENT
  //-       .col-sm-8
  //-         #clockdiv
  //-           div
  //-             h1.days
  //-             span.smalltext Days
  //-           div
  //-             h1.hours
  //-             span.smalltext Hours
  //-           div
  //-             h1.minutes
  //-             span.smalltext Minutes
  //-           div
  //-             h1.seconds
  //-             span.smalltext Seconds

  //-     .row.mt-5
  //-       .col-sm-12
  //-         .text-center
  //-           a.button(href="https://vemp.in/iedcsummit2021/#home-page" target="_blank") Register Now

  section#schedule-section.section-content
    .container
      //- h1.text-center Schedule
      .sub-heading Join us for a 3 Day Virtual Summit

      #app
        .schedule-dates
          .date(@click="changeSched('28 Jan 2021')" :class="currentDate == '28 Jan 2021'?'active':''")
            h1 28
            .month
              p January
              p 2021
          
          .date(@click="changeSched('29 Jan 2021')" :class="currentDate == '29 Jan 2021'?'active':''")
            h1 29
            .month
              p January
              p 2021

          .date(@click="changeSched('30 Jan 2021')" :class="currentDate == '30 Jan 2021'?'active':''")
            h1 30
            .month
              p January
              p 2021

        .row
          .col-sm-4(v-if="track1.length")
            .pt-3
              h4.text-center.mb-4 Main Track
              .schedule
                .schedule-item(v-for="item in track1")
                  h4 {{item.category}}
                  p {{item.start}} - {{item.end}}
                  h3 {{item.item}}
                  .speakers(v-if="item.speakers.length")
                    .speaker(v-for="speaker in item.speakers.split(',')")
                      img(:src="speakers[speaker-1].image")
                      .content
                        h3 {{speakers[speaker-1].name}}
                        h4 {{speakers[speaker-1].position}}, {{speakers[speaker-1].company}}

          .col-sm-4.alternate-col(v-if="track4.length")
            .pt-3
              h4.text-center.mb-4 Tech Talks
              .schedule
                .schedule-item(v-for="item in track4")
                  h4 {{item.category}}
                  p {{item.start}} - {{item.end}}
                  h3 {{item.item}}
                  .speakers(v-if="item.speakers.length")
                    .speaker(v-for="speaker in item.speakers.split(',')")
                      img(:src="speakers[speaker-1].image")
                      .content
                        h3 {{speakers[speaker-1].name}}
                        h4 {{speakers[speaker-1].position}}, {{speakers[speaker-1].company}}

          .col-sm-4.alternate-col(v-if="track2.length")
            .pt-3
              h4.text-center.mb-4 Workshops
              .schedule
                .schedule-item(v-for="item in track2")
                  h4 {{item.category}}
                  p {{item.start}} - {{item.end}}
                  h3 {{item.item}}
                  .speakers(v-if="item.speakers.length")
                    .speaker(v-for="speaker in item.speakers.split(',')")
                      img(:src="speakers[speaker-1].image")
                      .content
                        h3 {{speakers[speaker-1].name}}
                        h4 {{speakers[speaker-1].position}}, {{speakers[speaker-1].company}}
          
          .col-sm-4(v-if="track3.length")
            .pt-3
              h4.text-center.mb-4 Challenges
              .schedule
                .schedule-item(v-for="item in track3")
                  h4 {{item.category}}
                  p {{item.start}} - {{item.end}}
                  h3 {{item.item}}
                  .speakers(v-if="item.speakers.length")
                    .speaker(v-for="speaker in item.speakers.split(',')")
                      img(:src="speakers[speaker-1].image")
                      .content
                        h3 {{speakers[speaker-1].name}}
                        h4 {{speakers[speaker-1].position}}, {{speakers[speaker-1].company}}



    
    
    


  section.popup-modal.section-content#modal-about
    .close-btn(data-close="modal-about")
      i.bi.bi-x-circle-fill
    .container
      .sub-heading About
      .title IEDC Summit 2021

      p Government of Kerala initiated the Startup movement through Kerala Startup Mission (KSUM) by forging and implementing forward-looking policies for creating a vibrant Startup ecosystem in the state primarily to foster the growth of innovation lead technology entrepreneurship by supporting all the strata of society to encourage them to come up with ideas and to turn it into business so that they may obtain gainful employment and can employ others as well.
      p KSUM organizes the fifth edition of the flagship event IEDC Summit 2021, bringing together Student Innovators and all other connected stakeholders under one umbrella. This year, the IEDC Summit is hosted by Adi Shankara Institute of science and technology, Cochin on 28th, 29th, 30th January 2021
      p IEDC Summit 2021, the annual get together is hosted by Innovation and Entrepreneurship Development Centre (IEDC) of Adi Shankara Institute of science and technology. The Summit will witness a series of technology tracks, brainstorming sessions, interactive community meet ups and product exhibitions. Student innovators from IEDCs exhibit their innovation at IEDC Summit. Besides, knowledge and skill development sessions are an integral part of the summit and the presence of corporate leaders provides students a deeper insight about latest technology trends.
      p The summit is designed for young generation entrepreneurs in two major phases - The main event and the Exhibition Stall
      
      .sub-heading.mb-3 The Context

      p The Innovation and Entrepreneurship Development Centres (IEDC) are platforms set up mainly in Engineering, Arts & Science Colleges, Management Institutions, Polytechnics etc with an aim to provide students an opportunity to innovate and experiment. The outbreak of COVID-19 has not only created a health crisis but also threatened our ways of living and the disruption brought in the Academic sphere has no parallel in history.
      p But we had Inspire to Innovate webinars, Innovation at the time of Corona product showcase and Innovations Unlocked: Mentorship modules with Industry experts and other various programmes and events initiated by the Nodal Officers to engage and empower the Student innovators activity thereby propelled their creativity to something wonderful and remarkable.
      p IEDC Summit is also an avenue for participants of various centers across the State to come together, to share their success stories, to learn from each other’s failures, to showcase their innovative products and also to develop strong networks that go a long way in developing sustainable enterprises.
      p Kerala Startup Mission has set up IEDCs in 281 institutions across the State who are having requisite expertise and infrastructure which provides avenues for creative students to learn, collaborate and transform their innovative ideas into prototypes of viable products.


block script
  script(src="./script/index.js")
  script(src="./script/countdown.js")
  script(src="./script/home.js")

